---
const year = new Date().getFullYear();
---

<footer>
  <div class="container footer-content">
    <div class="footer-block">
      <h2>Kontakt</h2>
      <p>Physiotherapie<br>Alke van Leeuwen</p>
      <p>Haldenstrasse 6<br>CH-5454 Bellikon</p>
      <p>Telefon: 056 - 470 18 75</p>
      <p>Email: <a href="mailto:info@physiotherapie-alkevanleeuwen.ch">info@physiotherapie-alkevanleeuwen.ch</a></p>
      <p style="margin-top: 1rem; font-size: 0.9rem; opacity: 0.9;">Ihre Praxis für Physiotherapie in Bellikon.<br>Zentral gelegen für Mutschellen, Berikon, Widen, Rudolfstetten und Bremgarten.</p>
    </div>
    <div class="footer-block">
      <a href="/impressum">Impressum</a>
    </div>
  </div>
</footer>
